@charset "UTF-8";

 @font-face {
  font-family: "PT Sans Narrow", "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "PT Sans Narrow", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none; 
  line-height: 1em;  
  margin-left: .2em;  
}

.icon-basket:before { content: url(../img/cart-icon.png); } /* 'b' */
.icon-up-dir:before { content: '\25b2'; } /* '^' */
.icon-down-dir:before { content: '\25bc'; } /* '¡' */

body {
  max-width: 100%;
  margin: 0;
  padding:0;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  background:white;
}

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-active {
    width: 18px;
    height: 18px;
    background-position: -5px -5px;
}

.sprite-chek {
    width: 23px;
    height: 23px;
    background-position: -5px -33px;
}

.sprite-chek_active {
    width: 27px;
    height: 23px;
    background-position: -5px -66px;
}

.sprite-dis_chek {
    width: 23px;
    height: 23px;
    background-position: -5px -99px;
}

.sprite-dis_chek_active {
    width: 27px;
    height: 23px;
    background-position: -5px -132px;
}

.sprite-dis_radio {
    width: 25px;
    height: 25px;
    background-position: -5px -165px;
}

.sprite-dis_radio_active {
    width: 25px;
    height: 25px;
    background-position: -5px -200px;
}

.sprite-div {
    width: 2px;
    height: 52px;
    background-position: -5px -235px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -5px -297px;
}

.sprite-hover_chek {
    width: 23px;
    height: 23px;
    background-position: -5px -329px;
}

.sprite-hover_chek_active {
    width: 27px;
    height: 23px;
    background-position: -5px -362px;
}

.sprite-hover_radio {
    width: 25px;
    height: 25px;
    background-position: -5px -395px;
}

.sprite-hover_radio_active {
    width: 25px;
    height: 25px;
    background-position: -5px -430px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -5px -465px;
}

.sprite-radio {
    width: 25px;
    height: 25px;
    background-position: -5px -496px;
}

.sprite-radio_active {
    width: 25px;
    height: 25px;
    background-position: -5px -531px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -5px -566px;
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

.header-logo,
.services,
.about-left,
.social-block,
.catalog-filter { float: left; }

.about-right,
.discount,
.catalog-container { float: right; }

.main-navigation { 
  float: left;  
}

.container {
  width: 1200px;
  margin-left: 120px;  
  padding-bottom: 0px;
  padding: 0 20px;
}

.main-header {
  width: 1440px;
  padding-top: 50px;
  background-color: #eeeeee;
}

.main-navigation { 
  max-width: 1440px;
  max-height: 355px;
  margin-left: 2px;
}

.main-navigation ul {
  margin-top: 30px;
  padding-left: 200px;
  font-size: 5px;
  text-align: center;
}

.main-navigation li {
  display: inline-block;
  padding-right: 50px;
  vertical-align: top;  
}


.main-navigation a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.main-navigation .cart { 
  padding-left: 196px;
  padding-right: 0px;
}

.icon-basket {
  opacity: 0.2
}

.main-navigation .icon-basket:hover {color: #f1f1f1;}

.main-navigation .active { border-bottom: 2px solid #fb565a; }

.main-navigation a:hover { color: #fb565a; }

.main-navigation a:active { color: #cbcbcb; }

.main-navigation .icon-basket { padding-right: 20px; }


.slider {
  position: relative;
  width: 1160px;
  height: 428px;
  margin: 0 auto;
}

.slider input[type=radio] {
    position: absolute;
    opacity:0;
}

.slider-toggle {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 130px; 
  height: 10px;
  margin-left: -50px;
  text-align: center;
  z-index: 1000;
  top: 310px;
  left: ;
}

.slider-toggle label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  background: #fff;
  border: 3px solid #fff;
  vertical-align:top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-toggle label[for="btn-1"],
#btn-2:checked ~ .slider-toggle label[for="btn-2"],
#btn-3:checked ~ .slider-toggle label[for="btn-3"] { 
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 18px;
  background-position: -5px -5px;
  cursor: pointer;
  position: absolute;
  margin: 0px;
  top: 0;
  left: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 380px;
  height: 40px;
  padding-top: 60px;
  color: #283136;
}

.slide-title {
  width: 600px;
  font-size: 55px;
  line-height:1;
  font-weight: bold;
  color: black;
  padding: 10px 0;
}

.slide p {
  width: 400px;
  font-size: 17px;
  line-height: 1.5;
  padding: 0;
}

.slide .btn-red {
  display: block;
  width: 240px;
  padding: 16px 0;
  margin-top: 38px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  color: #fff;
  background: #fb565a;
  border-radius: 3px;
}

.slide .btn-red:hover { 
  background-color: #d6494d; 
}

.slide .btn-red:active {
  background-color: #b63538;
  box-shadow: inset 0px 3px 0px #9b2d30;
}

.slide:nth-child(1) {
  background-image: url('../img/slider-1.png');
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slide:nth-child(2) {
  background-image: url('../img/slider-2.png');
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slide:nth-child(3){
  background-image: url('../img/slider-3.png');
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.slide { 
  display: none; 
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}

.main-header .header-title {
  width: 100%;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 103px;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}

.main-container { 
  padding: 56px 0px 36px 138px; 
}

.services-ñontainer {
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.services {
  width: 240px;
  margin: 20px 160px 0 0;
}

.services:last-child { 
  margin: 20px 0 0 0; 
}

.services-title {
  margin-top: 22px;
  margin-bottom: 21px;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.services-text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.4;
}

.services .btn {
  display: inline-block;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #fb565a;
  border-radius: 3px;
}

.services .btn-red { 
  background-color: #fb565a;
}

.services .btn-red:hover {
  background-color: #d6494d; 
}

.services .btn-red:active {
  background-color: #b63538;
  box-shadow: inset 0px 3px 0px #9b2d30;
}

.services .btn-green { 
  background-color: #00ca74; 
}

.services .btn-green:hover { 
  background-color: #01a25e; 
}

.services .btn-green:active {
  background-color: #009053;
  box-shadow: inset 0px 3px 0px #007b47;
}

.services .btn-yellow { 
  background-color: #efc84a 
}

.services .btn-yellow:hover { 
  background-color: #d6ae2c; 
}

.services .btn-yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0px 3px 0px #a3841f;
}

.about {
  height: 400px;
  padding: 40px 0 85px 0;
  margin: 80px 0 0 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.about-left { 
  width: 700px; 
  padding-top: 18px;
}

.about-left .main-title {
  height: 86px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 16px;
  font-size: 46px;
  font-weight: 600;
  line-height: 1;
}

.about-left p {
  width: 650px;
  font-size: 16.5px;
  line-height: 1.4;
}

.about-left .second-title {
  margin: 0;
  padding-top: 26px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.about-right .second-title {
  width: 360px;
  height: 15px;
  margin: 0;
  padding: 22px 0px 8px 0px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.about-left ul { 
  width: 428px;
  height: 15px;
  padding: 0; 
}

.about-left li  {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 40px;
  font-size: 16px;
  background: url('../img/li.png') no-repeat left 50%;
  list-style: none;
}

.about-right { 
  width: 405px; 
}

.about-right .litlle-logo { 
  padding: 0px 0 10px 0; 
}

.work-love { 
  width: 390px; 
}

.numbers {
  width: 30%;
  list-style: none;
  float: left;
}

.numbers h2 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 0;
}

.brand {
  height: 180px;
  padding-left: 0px;
  text-align: left;
  border-bottom: 2px solid #eee;
  
}

.brand a {
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.2;
}

.brand-1 {
  padding-right: 17px;
}

.brand-2 {
  padding-left: 5px;
  padding-right: 15px;
}


.brand a:nth-child(3n+2) { margin: 0 0px; }

.brand a:hover { opacity: 1; }

.brand a:last-child { padding-right: 0px; }

a.brand-item:after {
  content: "";
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 2px;
  height: 52px;
  background-position: -5px -235px;
  position: relative;
  top: -70px;
  left: 0;
}

.brand-item:last-child:after {
  display: none;
}

.main-footer {
  min-width: 1440px;
  max-height: 670px; 
}

.map { 
  position: relative; 
  width: 100%;  
  margin-top: 8px;
}

.map-block {
  position: absolute;
  width: 250px;
  height: 268px;
  padding: 20px;
  background-color: #fff;
  transform: translateX(-540px);
  left: 680px;
  top: 54px;
  text-align: left;
  padding-left: 50px;
}

.map-block-title {
  margin-top: 22px;
  padding: 11px 0 10px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.map-block-address {
  width: 220px;
  margin: 0;
  padding-bottom: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #acacac;
}

.map-block-telephone {
  margin: 0;
  padding-bottom: 36px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #acacac;
}

.map-block .btn-red {
  display: inline-block;
  padding: 16px 48px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #fb565a;
  border-radius: 3px;
}

.map-block .btn-red:hover { background-color:#d6494d; }

.map-block  .btn-red:active {
  background-color: #b63538;
  box-shadow: inset 0px 3px 0px #9b2d30;
}

.map-container {
  width: 100%;
  min-height: 415px;
}

.main-footer .container {
  padding-top: 85px;
  padding-bottom: 40px;
}

.social-block a {
  display: inline-block;
  width: 81px;
  height: 81px;
  margin-right: 5px;
  font-size: 22px;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: #e1e1e1;
  border-radius: 50%;
  position: relative;
  top: -16px;
  left: 0px;
}

.social-block a:hover { background-color:#fb565a; }

.social-block a:active {
  background-color: #d6494d;
  box-shadow: inset 0px 3px 0px #b63e42;
}

.social-btn::before {
  content: "";
  position: absolute;
  top:	50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;  
}
.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -5px -566px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -5px -297px;
}

.social-btn-ins::before {
  width: 21px;
  height: 21px;
  background-position: -5px -465px;
}

.discount {
  width: 545px;
  margin-top: -12px;
  margin-right: 254px;
}

.discount-title {
  margin: 0;
  padding-bottom: 7px;
  font-size: 36px;
}

.discount p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #283136;
}

.catalog-filter { 
  width: 240px; 
  height: 772px;
}

.filter-range {
  width: 240px;
  padding-bottom: 50px;
}

.catalog-filter .range-title {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 32px;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.range-control {
  width: 220px;
  position: relative;
  height: 41px;
  padding: 39px 20px 0 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-control .scale {
  height: 2px;
  background: #d7dcde;
}

.range-control .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-control .toggle-min { 
  left: 20px; 
}

.range-control .toggle-max { 
  left: 162px; 
}

.range-control .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-price {
  width: 260px;
  font-size: 0px;
  text-transform: uppercase;
}

.range-price label {
  display: inline-block;
  width: 50%;
  font-size: 17px;
}

.range-price .max-price { 
  text-align: right; 
}

.range-price input {
  width: 60px;
  margin-left: 8px;
  padding: 8px 9px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.range-price { 
  padding-top: 15px; 
}

.catalog-filter .catalog-filter-title-rad {
  margin: 10px 0px;
  padding-bottom: 2px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.catalog-filter .catalog-filter-title-che {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.catalog-filter input[type="radio"] { 
  display: none; 
}

.catalog-filter input[type="radio"] + label {
  display: block;
  padding-left: 38px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.catalog-filter input[type="radio"] + label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -5px -395px;
  top: 6px;
  left: 3px;
}

.catalog-filter input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -5px -430px;
  top: 6px;
  left: 3px;
}

.catalog-filter input[type="checkbox"] { 
  display: none; 
}

.catalog-filter input[type="checkbox"] + label {
  display: block;
  padding-left: 38px;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
  vertical-align: top;
  line-height: 40px;
  position: relative;
  cursor: pointer;
}

.catalog-filter input[type="checkbox"] + label::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-position: -5px -329px;
  position: absolute;
  top: 6px;
  left: 0;
}

.catalog-filter input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  background-position: -5px -362px;
  position: absolute;
  top: 6px;
  left: 0;
}

.catalog-filter .btn {
  display: inline-block;
  padding: 16px 90px;
  margin-top: 38px;
  font-size: 16px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
}

.catalog-filter .btn:hover { 
  background-color: #e5e5e5; 
}

.catalog-filter .btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px #b5b5b5;
}

.catalog-container { 
  width: 810px; 
}

.catalog-subfilter {
  width: 770px;
  min-height: 37px;
  margin-bottom: 40px;
  text-align: right;
}

.catalog-subfilter::after { 
  content: ""; 
}

.catalog-subfilter h2 {
  float: left;
  width: 90px;
  margin: 0;
  margin-right: 55px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.catalog-subfilter ul {
  width: 350px;
  float: left;
  margin: 4px 0px 3px 203px;
  padding: 0;
}

.catalog-subfilter li {
  display: inline-block;
  margin: 0;
  margin-right: 23px;
  padding: 0;
}

.catalog-subfilter a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: top;
  color: #b2b2b2;
  text-transform: uppercase;
}

.catalog-subfilter a:hover {
  border-bottom: 1px solid #00ca74;
  color: #000;
 }

 .catalog-subfilter a:active {
   border-bottom: none;
   color: #000;
  }

.catalog-subfilter-btn  {
  float: right;
  vertical-align: top;
}

.catalog-subfilter-btn a {
  display: inline-block;
  font-size: 0px;
  border: none;
}

.catalog-subfilter-btn .active { 
  color: #000; 
}

.catalog-subfilter-btn a:hover {
  color: #b2b2b2;
  border: none;
}

.catalog-subfilter-btn a:active { 
  color: #000; 
}

.catalog-subfilter-btn i {
  vertical-align: bottom;
  font-size: 16px;
  margin: 2px 2px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  margin-left: 2px;
  padding: 0;
  margin-right: 36px;
  margin-bottom: 36px;
  font-size: 0px;
}

.catalog-item:nth-child(even) { 
  margin-right: 0; 
}

.catalog-item .browser {
  margin: 0;
  padding: 0;
  min-height: 41px;
  background-color: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius:4px;
}

.browser li {
  display: inline-block;
  padding: 5px 5px;
  width: 4px;
  height: 4px;
  margin-top: 13px;
  margin-left: 17px;
  margin-right: -8px;
  background-color: #fff;
  border-radius: 50%;
}

.catalog-item .catalog-item-picture { 
  margin: 0; 
}

.catalog-item-hover {
  position: absolute;
  bottom: 0px;
  left: 100px;
  display: none;
  width: 100%;
  height: 230px;
  margin-left: -100px;
  text-align: center;
  background-color: #f1f1f1;
}

.catalog-item:hover .catalog-item-hover { 
  display: block; 
}

.catalog-item-hover .catalog-item-title {
  margin-bottom: 15px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  
}

.catalog-item-hover .catalog-item-text {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 14px;
  font-weight: 500;
  color: #c1c1c1;
}

.catalog-item-hover .btn-red {
  display: inline-block;
  margin-top: 5px;
  padding: 14px 62px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-color: #fb565a;
  border-radius: 4px;
  text-decoration: none;
}

.catalog-item-hover .btn-red:hover { 
  background-color: #d6494d; 
}

.catalog-item-hover .btn-red:active {
  background-color: #d6494d;
  box-shadow: inset 0px 3px 0px #b63e42;
}

.catalog-item:hover.catalog-item .browser { 
  background-color: #797979; 
}

.paginator {
  margin-top: 24px;
  padding: 0;
}

.paginator li {
  display: inline-block;
  margin-right: 7px;
}

.paginator a {
  display: block;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  color: black;
  background-color: #f1f1f1;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.paginator .active {
  background: #fff;
  border: 2px solid #f2f2f2;
}

.paginator .active:hover {
  background: #fff;
  border: 2px solid #f2f2f2;
}

.paginator .active:active {
  background: #fff;
  border: 2px solid #f2f2f2;
  box-shadow: none;
}

.paginator li:last-child a { 
  padding: 5px 76px; 
}

.paginator a:hover { 
  background-color: #e5e5e5;
}

.paginator a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px #b5b5b5;
}

.modal-form {
  position: fixed;
  top:20%;
  left: 50%;
  z-index: 20000;
  transform: translateX(-350px);
  display: none;
  width: 470px;
  padding: 53px 80px;
  background-color: #fff;
  box-shadow: 0 10px 35px 10px #595a5a;
}

.modal-form-show { 
  display: block; 
}

.modal-form-close {
  position: absolute;
  top: 5px;
  right: 5px;
 }

.modal-form .form-col {
  float: left;
  width: 220px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.form-col label {
  display: block;
  margin-bottom: 10px;
}

.form-col input[type="text"] {
  width: 185px;
  height: 32px;
  padding: 0 15px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.form-col input[type="text"]:hover { 
  border-color: #a2a9ac; 
}

.form-col input[type="text"]:focus { 
  border-color: #56bffb; 
}

.clearfix .form-col:last-child { 
  margin-right: 0px; 
}

.modal-form .form-row {
  width: 480px;
  padding-bottom: 48px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.form-row label {
  display: block;
  margin-bottom: 10px;
}

.form-row input[type="text"] {
  width: 430px;
  padding: 10px 10px 86px 15px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.form-row input[type="text"]:hover { 
  border-color: #a2a9ac; 
}

.form-row input[type="text"]:focus { 
  border-color: #56bffb;
}

.modal-form .btn-red {
  display: inline-block;
  padding: 12px 75px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fb565a;
  border-radius: 3px;
}

.modal-form .btn-gray {
  display: inline-block;
  padding: 12px 86px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #000;
  background-color: #f1f1f1;
  border-radius: 3px;
}
